&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg-dark-green&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#3D5938&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg-green&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#7AB040&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg-light-green&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#93B040&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg-yellow&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#CDCD40&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg-orange&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#CD8F40&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg-light-orange&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#CDB040&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg-gray&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#686868&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-swatch bg-light-gray&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#B8B8B8&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;