<ul class="sg-colors">
	<li>
		<span class="sg-swatch bg-dark-green"></span>
		<span class="sg-label">#3D5938</span>
	</li>
	<li>
		<span class="sg-swatch bg-green"></span>
		<span class="sg-label">#7AB040</span>
	</li>
	<li>
		<span class="sg-swatch bg-light-green"></span>
		<span class="sg-label">#93B040</span>
	</li>
	<li>
		<span class="sg-swatch bg-yellow"></span>
		<span class="sg-label">#CDCD40</span>
	</li>
	<li>
		<span class="sg-swatch bg-orange"></span>
		<span class="sg-label">#CD8F40</span>
	</li>
	<li>
		<span class="sg-swatch bg-light-orange"></span>
		<span class="sg-label">#CDB040</span>
	</li>
	<li>
		<span class="sg-swatch bg-gray"></span>
		<span class="sg-label">#686868</span>
	</li>
	<li>
		<span class="sg-swatch bg-light-gray"></span>
		<span class="sg-label">#B8B8B8</span>
	</li>
</ul>